---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <!-- <h1 style="font-size: 48px; margin: 5%; text-align: center;">Astro</h1> -->
    <form>
      <label for="search-input">
        Search For Music
        <input type="search" id="search-iinput" name="q" />
      </label>
    </form>
    <button hx-get="/songs" hx-target="#search-results">Load Music</button>
  </body>
</html>
<div id="search-results"></div>
