---
import type { Code } from "astro:components";
import { getAlbums } from "../lib/spotify";
import type { any } from "astro/zod";

let albums = [];
if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  console.log(`data const value is: ${data}.`);

  const q = data.get("q") as string;
  console.log(`q const value is: ${q}.`);

  albums = await getAlbums(q);
  console.log(`albums let array value is: ${albums}`);
}

export const partial: boolean = true;
---

<div>
  <h1 style="color: navy; font-size: 48px; margin: 5%; text-align: center;">
    Faddah's Music
  </h1>
  <p>You searched for:</p>
  <pre>{JSON.stringify(albums, null, 2)}</pre>
</div>
